---
name: deploy on aws ec2
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/frontend.yml'      
env:
  REGISTRY: ghcr.io
jobs:
  build: 
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend


    steps:
      - name: checkout code 
        uses: actions/checkout@v3
      - name: setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: build package
        run: npm run build
      - name: login gihub package
        run: docker login ${{ env.REGISTRY }} -u ${{ secrets.REGISTRY_USERNAME }} --password ${{ secrets.REGISTRY_TOKEN }}
      - name: create build image
        run: docker build  -t ${{ env.REGISTRY }}/${{ secrets.REGISTRY_USERNAME }}/bc26-frontend:${{ github.sha }} .
      - name: pushing image to github package
        run: docker push ${{ env.REGISTRY }}/${{ secrets.REGISTRY_USERNAME }}/bc26-frontend:${{ github.sha }}

      - name: ssh connect to ec2 server
        env:
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_KEY }}
          REMOTE_HOST: ${{ secrets.DEPLOY_HOST }}
        run: |
          echo "$SSH_PRIVATE_KEY" > ~/ssh/ssh_private_key
          chmod 400 ~/ssh/ssh_private_key
          ssh -i ~/ssh/ssh_private_key -o StrictHostKeyChecking=no ubuntu@REMOTE_HOST '

            docker login ${{ env.REGISTRY }} -u ${{ secrets.REGISTRY_USERNAME }} --password ${{ secrets.REGISTRY_TOKEN }}
            docker stop frontend 2>/dev/null;
            docker rm -f frontend 2>/dev/null; 
            docker run -d -p 3000:80 --name frontend $bc26-frontend:${{ github.sha }} 
            '


    

